<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ZUS/ZLA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <meta name="keywords" content="mak1soft, zus/zla"/>
    <meta name="description" content="mak1soft zus/zla"/>
    <link href="default.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="header">
    <h1>Zus/Zla</h1>
    <h2>by mak1soft Copyright &copy; 2017</h2>
</div>
<div id="menu">
    <ul>
        <li></li>
    </ul>
</div>
<div id="content">
    <div id="left">
        <h2>Oto twoje wyliczenia</h2>
        <p>Chory byl w szpitalu nastepujaca ilosc dni i powienien dostac zwolnienie do dnia:</p>
        <table border="0">
            <tr>
                <th align="left">Ilosc dni pobytu w szpitalu:</th>
                <td><b><font color="black" th:text="${visit}"/></b></td>
            </tr>
            <tr>
                <th align="left">Data zwolnienia do:</th>
                <td><b><font color="black" th:text="${visit_end_date}"/></b></td>
            </tr>
        </table>
    </div>
    <div id="right">
        <p><h2>Dziekujemy...</h2></p>
        <p>By policzyc jeszcze raz <a href="/l4">kliknij mnie</a>.</p>
    </div>
</div>
</body>
</html>